# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives*** List of popular DS languages

+ Pythion
+ R
+ SQL

### Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL

### Some of the commonly used libraries used by Data Scientists include

1. Anaconda
2. Pandas
3. Numpy

| Data Science Tool|
|------------------|
| Apache |
| Julia | 
| Watson |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

In [4]:
(200/60)

3.3333333333333335

## Author
 Ren√© T